.diet-title h5{
    font-family: 'Raleway';
    color: #9EB25D;

 
}

.diet-title option{
    font-family: 'Raleway';
    color: #9EB25D;

 
}

.diet-title select{
    font-family: 'Raleway';
    color: #9EB25D;

 
}

.btn-primary {
    font-family: 'Raleway'!important; 
    background-color: #9EB25D!important; 
    color: #f1db4b!important;
    border-radius: 5px!important; 
    margin-top: 10px!important; }