.containerFooter {
  display: flex;
  color: white;
  background-color: #9eb25d;
  height: 220px;
  justify-content: space-around;
  margin-top: 30px ;
  padding-top: 20px;
}

a:link {
  color: whitesmoke;
  font-size: 25px;
}

a:visited {
  color: whitesmoke;
}

.containerFooter ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.copyRight {
  margin-top: 35px;
  display: flex;
  font-size: 25px;
  align-items: center;
}

.footerList3 {
  display: flex;
  justify-content: space-around;
}

.fb {
  height: 50px;
  width: 50px;
}

.tw {
  margin-bottom : 10px;
  margin-left: 6px;
  height: 35px;
  width: 35px;
}

@media screen and (max-width: 961px) {
  .containerFooter {
    display: flex;
    align-items: center;
  }

  .containerFooter ul {
    margin: 0;
  }
}
