.containerFooter {
  display: flex;
  color: white;
  background-color: #9eb25d;
  height: 200px;
  justify-content: space-around;
  margin-top: 10px ;
}

a:link {
  color: whitesmoke;
}
a:visited {
  color: whitesmoke;
}

.containerFooter ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.copyRight {
  display: flex;
  align-items: center;
}

.footerList3 {
  display: flex;
  justify-content: space-around;
}

.twitter {
  margin-left: 6px;
}


.fb {
  height: 45px;
  width: 45px;
}

.tw {
  height: 35px;
  width: 35px;
}

@media screen and (max-width: 961px) {
  .containerFooter {
    display: flex;
    align-items: center;
  }

  .containerFooter ul {
    margin: 0;
  }
}
