.card {
  font-family: 'Raleway';
  font-weight: 600;
  margin: auto;
  text-align: center;
  }
      
  .card:hover {
  box-shadow: 0 0 5px 1px #9eb25d;
  }
      
  div.card-title.h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  padding: 10px;
  color:rgb(69, 83, 24);
  border-radius: 5px;
  }
  
  .card hr {
      margin: 2px;
  }
      
  div.card-title.h5:hover {
  font-size: 20px;
  }
      
  img.card-img {
      width: 25px;
      margin: 5px;
  }
      
  .card-img-container {
  position: relative;
  width: 100%;
  }
      
  .card-img-top {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  }
      
  .middle {
  transition: .3s ease;
  color:#9EB25D;
  font-weight: 900;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  }
      
  .card-img-container:hover .card-img-top {
  opacity: 0.3;
  }
  .card-img-container:hover .middle {
  opacity: 1;
  }
  .image-overlay-text {
  font-size: 16px;
  padding: 16px 32px;
  }
  
  div.card-body, div.group-item {
      padding: 2px;
  }
  
  a.card-link {
      color:  rgb(69, 83, 24);
  }
      
  .badge-filter {
  height: 20px;
  font-weight: 1100;
  color: white;
  background-color: rgb(69, 83, 24);
  border-radius: 9px;
  }
      
  .col-lg-4, .col-sm-6  {
      padding-bottom: 15px;
  }
      
  .bookmark-star {
  padding: 10px;
  color: #201d0a;
  }
      
  .is-bookmarked {
      color: #9EB25D;
  }
      
  .ask {
      color: #9EB25D;
  } 

.card-verso-body {
  text-align: left;
}

.card-verso-title {
  text-align: center;
}
.card-verso-body li::marker {
  color: rgb(69, 83, 24);
}
      
     
      
      
      