.card {
font-family: 'Raleway';
font-size: 400;
margin: auto;
}
.col-lg-4, .col-sm-6  {
    padding-bottom: 15px;
}
  
.is-bookmarked {
    color: #9EB25D;
  }

  .ask {
    color: #9EB25D;
  } 
  
 img.card-img {
    width: 40px;
    height: 40px;
    margin: 5px;
}



