.container-home-image {
    background-image: url('../../../assets/images/Image3.jpg');
    height: 65vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    opacity: .9;   
}

.container-home-welcome-section {
    height: 100vh;
    width: 100%;
}

.searchbar-container{
    background-color: white;
    position: absolute;
    height: 40%;
    width: 60%;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0 0 10px 1px #9eb25d;
    opacity: .9;   
}

.searchbar-form {
    position: relative;
    top: 15%;
    left: 20%;
}

.searchbar-input {
    width: 50%;
    border: 1px solid #9eb25d;;
    border-radius: 5px;  
}

.display-carousel-button, .searchbar-button {
    font-family: 'Raleway'; 
    background-color: #9EB25D; 
    color: #f1db4b;
    border-radius: 5px; 
    margin-top: 10px; 
}

.searchbar-button:hover {
    font-family: 'Raleway'; 
    color: #9EB25D; 
    background-color: #f1db4b;
    border-radius: 5px;  
}
.searchbar-button {
    font-family: 'Raleway'; 
    background-color: #9EB25D; 
    color: #f1db4b;
    border-radius: 5px; 
    margin-top: 10px; 
}

.display-carousel-button {
    font-family: 'Raleway'; 
    color: #eefcce; 
    background-color: #a7c6da;
    border-radius: 5px;  
}
.display-carousel-button:hover {
    font-family: 'Raleway'; 
    color: #a7c6da; 
    background-color: #eefcce;
    border-radius: 5px;  
}

.container-home-welcome-section h1 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 3rem;
    color: #9EB25D;
    position: absolute;
   top: 35%;
    left: 20%;
    transform: translate(-50%, -50%); 
}

