.container-home-welcome-section {
    background-image: url('../../../assets/images/Image16.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}