.navbar {
    background-color: #9EB25D;
    font-family: 'Raleway'; 
    color: #F1DB4B;
    z-index: 10;
    white-space: nowrap;
    position: flex;
    justify-content: space-around;
}

.navbar-brand {
    margin-right: 0;
}

nav.navbar.navbar-expand-md.navbar-light {
    justify-content: space-around;
} 

div#responsive-navbar-nav {
    text-align: center;
}
form.form-inline {
    display: inline-block;
}

.navbar input.form-control{
    width: 150px!important;
    height: 28px;
}
    
.logo-nav {
    height: 3.5em;
}


.bookmark-button {
    font-family: 'Raleway'; 
    color: #f1db4b; 
    background-color: #9EB25D; 
    border-radius: 5px;  
    border-color:#f1db4b;
}
.bookmark-button:hover {
    font-weight: 900;
}




