.container-home-welcome-section {
    height: 95vh;
    width: 100%;
}

.container-home-welcome-section h1 {
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 3vw;
    color: #9EB25D;
    position: absolute;
    top: 31%;
    left: 22%;
    transform: translate(-50%, -50%);
}

.container-home-image {
    background-image: url('../../assets/images/Image3.jpg');
    position: absolute;
    top: 0;
    height: 65vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    opacity: .9;   
    z-index: -1;
}

.searchbar-container {
    background-color: white;
    position: absolute;
    border-radius: 5px;  
    height: 40%;
    width: 75%;
    top: 36%;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0 0 5px 1px #9eb25d;
}

.searchbar-container:hover {
    box-shadow: 0 0 10px 1px #9eb25d;
}

.no-answer-container {
    margin-top: 40px;
    color: #9eb25d;
}

.container-loader-search{
    margin-top: 50px;
}

.searchbar-form {
    position: relative;
    top: 7%;
    width: 100%;
    text-align: center;
    margin: auto;
}

.searchbar-input {
    width: 50%;
    border: 1px solid #9eb25d;;
    border-radius: 5px;  
    margin: 5px;
}

.searchbar-button {
    font-family: 'Raleway'; 
    background-color: #9EB25D; 
    color: #f1db4b;
    border-radius: 5px; 
    margin-top: 10px; 
}

.searchbar-button:hover {
    color: #9EB25D; 
    background-color: #f1db4b;
    border-radius: 5px;  
}

.searchbar-button:focus {
    outline:0;
}

.filter-button {
    color: #9EB25D; 
    background-color: #f1db4b;
    border-radius: 5px; 
    margin-top: 10px; 
}
.filter-button:hover {
    background-color: #9EB25D; 
    color: #f1db4b;
    border-radius: 5px;  
}

.filter-button:focus {
    outline:0;
}

.carousel-button-container {
    height: 100%;
    margin: auto;
    padding-right: 70px;
}

.carousel-button {
    font-family: 'Raleway'; 
    color: #f1db4b; 
    background-color: #eefcce; 
    border-radius: 5px;  
    border-color:#f1db4b;
    display: inline;
    padding: 4px;
    margin: 5px;
}

.carousel-button:hover {
    font-weight: 900;
}

.carousel-button:focus {
    outline:0;
}

.single-active-filter {
    color: #9EB25D; 
}

.active-filters img {
    height: 25px;
    padding-left: 9px;
    padding-right: 9px;
}

p.single-active-filter {
   margin-bottom: 0px;
   padding-top: 10px; 
   padding-bottom: 5px;
}

.badge {
    height: 20px;
    font-weight: 1100;
    color: white;
    background-color: rgb(69, 83, 24);
    border-radius: 9px;
}

.favorite-container {
    margin: 45px;
    text-align: center;
}


