.containerForm{
    height:1100px;
    width: 100%;
    }

    .filter-button2 {
        background-color: #9eb25d;
        color: whitesmoke;
        box-shadow:2px 2px 2px 2px;
        
    }
    .buttonBox {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

.contactUsForm {
    padding: 1%;
    background-color:#c0cf8c;
    width: 30%;
    margin: 0 auto;
    height: 700px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 120px;
    margin-bottom: 120px;
    border-style: solid;
    border-color: #9eb25d;
    border-width: 3px;
}
.form-group input.form-control {
    width: 100%;
    }


.label2 {
    color: whitesmoke;
    font-size: 25px;

    }
.contactUsForm h5 {
   margin: 0px;
   color: whitesmoke;
   font-style: italic;
   font-size: 22px;

}

.contactUsForm .form-group{
    margin: 0px;
}
   footer.containerFooter {
    margin: 0px;
   }

@media screen and (max-width: 840px) {
    .contactUsForm {
    width: 90%;
};
}
@media screen and (max-width: 1000px) {
    .contactUsForm {
    padding : 14px; 
    };
    }
