.form-wraper {
    position: relative;
    align-items: center;
}

.container-form form {
    padding: 1%;
    background-color:#c0cf8c;
    width: 40%;
    height: 540px;
    display: flex;
    margin: 70px auto;
    flex-direction: column;
    border-style: solid;
    border-color: #9eb25d;
    border-radius: 15px;
    border-width: 2px;
    justify-content: space-between;
}

.form-group input.form-control {
    width: 100%;
}

div.form-group {
    font-size: 1rem;
    margin-bottom: 0; 
}

.label2 {
    color: whitesmoke;
    font-size: 1rem;
}

.contactUsForm h5 {
    margin: 0px;
    color: whitesmoke;
    font-style: italic;
    font-size: 22px;
}

.contactUsForm .form-group{
    margin: 0px;
}

.buttonBox {
    margin: 12px;
    display: flex;
    justify-content: center;
}

.filter-button2 {
    background-color: #9eb25d;
    color: whitesmoke;
    box-shadow:0 0 3px 2px;
}
.filter-button2:hover {
    font-weight: 900;
}

@media screen and (max-width: 460px) {
    .label2 {
        font-size: .6em;
    }
}

@media screen and (max-width: 650px) {
    .container-form form {
    width: 300px;
};
}

