.loader-container{
text-align: center;
}

.loaderlogo {
    height: 100px;
    margin: auto;
    animation: loaderlogospin linear 0.75s infinite;
}

@keyframes loaderlogospin {
    0% { transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}